/ header div {
  border: 2px solid purple;
  display: inline-block;
}   

.center {
    width: 1000px;
    text-align: center;

}
img {

    display: block;
    margin-left: right;
    margin-right:right ;
  width: 150px;
  height: 150pxpx;
  border-radius: 2px;
}

.head-wrapper {
  display: flex;
  justify-content: left;
  justify-items:center;
}

.head-wrapper div {
  height: 180px;

}



.header-nav li {
  display: inline-block;
  margin-right: 10%;
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
}

/* === body === */

span {
  color: red;
}
table {
  width: 80%;
  margin: auto;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}


/* === footer=== */

footer li {
  display: inline-block;
  text-align: right;
  margin-right:10%;
  list-style:none;
  
}

button {
  background-color: greenyellow;
  height: 50px;
  width: 500px;
  font-size: 18px;
}