* {
  font-family: Arial, Helvetica, sans-serif;
}

/* */
.HeadTitle {
  padding: 10px 40px;
  display: flex;
}
header h1 {
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
    color: black;
  }
  25% {
    opacity: 0;
    color: red;
  }

  55% {
    opacity: 1;
    color: green;
  }

  75% {
    opacity: 0;
    color: yellow;
  }

  100% {
    opacity: 1;
    color: blue;
  }
}
.HeadTitle img {
  border-radius: 55px;
  flex: 1;
  height: 150px;
  width: 200px;
  opacity: 0.7;
}
.HeadTitle h1 {
  flex: 2;
  text-align: center;
  font-size: 40px;
}
img1 {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
.menuBar {
  background-color: rgb(121, 17, 17);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.menuBar a {
  text-decoration: none;
  color: goldenrod;
  padding: 15px;
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.menuBar a:hover {
  background-color: rgb(168, 191, 240);
  color: white;
}
.mainContent {
  width: 100pxpx;
  height: 100px;
  background-color: antiquewhite;
}

footer div {
  text-align: center;
}

footer div p,
ul {
  text-align: left;
  background-color: gray;
}
.fa-github {
  color: ;
}
